<div class="conteudo">
  <div class="container">
    <form [formGroup]="formulario" class="form" (ngSubmit)="cadastrarCarro()">
      <label class="titulo">Cadastro do veículo</label>

      <tabset>
        <tab heading="Veículo" customClass="customClass">
          <div class="marcaModelo divGeral">
            <app-input-select
              class="selectCor"
              label="Selecione a marca do veículo"
              [formGroup]="formulario"
              ControlName="marca"
              [Objeto]="marca"
              (modelo)="listarModelos($event)"
              ></app-input-select>

            <app-input-select
              class="selectCor"
              label="Selecione o modelo do veículo"
              [formGroup]="formulario"
              ControlName="modelo"
              [Objeto]="modelo"
            ></app-input-select>
          </div>

          <div class="quilometragemValor divGeral">
            <app-input-number
              class="selectCor"
              [formGroup]="formulario"
              ControlName="quilometragem"
              label="Digite a quilometragem do veículo"              
              min="0"
              step="1000"
              prefixo="KM"
            ></app-input-number>

            <app-input-number
              class="selectCor"
              [formGroup]="formulario"
              ControlName="valor"
              label="Digite o valor desejado pelo veículo"
              min="5000"
              step="1000"
              prefixo="R$"
            ></app-input-number>
          </div>

          <div class="motorPlaca divGeral">
            <app-input-text
              class="selectCor"
              label="Digite a descrição de seu motor"
              ControlName="motor"
              [formGroup]="formulario"
            ></app-input-text>

            <app-input-text
              class="selectCor"
              label="Digite a sua placa"
              ControlName="placa"
              [formGroup]="formulario"
            ></app-input-text>
          </div>

          <div class="anoFabricaCombustivel divGeral">

            <app-input-number
              class="selectCor"
              [formGroup]="formulario"
              ControlName="anoFabricacao"
              label="Digite o ano da fabricação do veículo"
              min="1961"
              step="1"
            ></app-input-number>

            <app-input-select
            class="selectCor"
            label="Selecione seu combustível"
            [formGroup]="formulario"
            ControlName="combustivel"
            [Objeto]="combustivel"
          ></app-input-select>
          </div>

          <div class="CarroceriaCores divGeral">
            <app-input-select
             class="selectCor"
              label="Selecione a cor do seu veículo"
              [formGroup]="formulario"
              ControlName="cores"
              [Objeto]="cores"
            ></app-input-select>

            <app-input-select
              class="selectCor"
              label="Selecione a carroceria do seu veículo"
              [formGroup]="formulario"
              ControlName="carroceria"
              [Objeto]="carroceria"
            ></app-input-select>
          </div>
        </tab>

        <tab heading="Detahes do veículo" customClass="customClass">
          <app-listar-kit></app-listar-kit>
        </tab>
      </tabset>

      <div class="botaoDIV">
        <button class="botao" type="submit">Cadastrar</button>
        <button (click)="abc()" type="button">abc</button>
      </div>
    </form>
  </div>
</div>

