<div class="conteudo">
  <div class="container">
    <form [formGroup]="formulario" class="form" (ngSubmit)="cadastrarCarro()">
      <label class="titulo">Cadastro do veículo</label>
      
      <tabset>
        <tab heading="Veículo" customClass="customClass">
          <div class="marcaModelo divGeral">
            <select
              class="form-select larguraCampos"
              formControlName="marca"
              (change)="listarModelos(formulario.value.marca.id)"
            >
              <option value="null" disabled selected>
                Selecione a marca do veículo
              </option>
              <option *ngFor="let marc of marca" [ngValue]="marc">
                {{ marc.nome }}
              </option>
            </select>

            <select
              class="form-select larguraCampos margimCampos"
              formControlName="modelo"
            >
              <option value="null" disabled selected>
                Selecione o modelo do veículo
              </option>
              <option *ngFor="let model of modelo" [ngValue]="model">
                {{ model.nome }}
              </option>
            </select>
          </div>

          <div class="quilometragemValor divGeral">
            <input
              class="valores larguraCampos"
              type="number"
              formControlName="quilometragem"
              placeholder="Digite a quilometragem do veículo"
            />

            <input
              class="valores larguraCampos margimCampos"
              type="number"
              formControlName="valor"
              placeholder="Digite o valor desejado pelo veículo"
            />
          </div>

          <div class="motorPlaca divGeral">
            <input
              class="valores larguraCampos"
              type="text"
              formControlName="motor"
              placeholder="Digite a descrição de seu motor"
            />

            <input
              class="valores larguraCampos margimCampos"
              type="text"
              formControlName="placa"
              placeholder="Digite a sua placa"
            />
          </div>

          <div class="anoFabricaCombustivel divGeral">
            <input
              type="number"
              class="valores larguraCampos"
              formControlName="anoFabricacao"
              placeholder="Digite o ano da fabricação do veículo"
            />

            <select
              class="form-select valores larguraCampos margimCampos"
              formControlName="combustivel"
            >
              <option value="null" disabled selected>
                Selecione seu combustivel
              </option>
              <option *ngFor="let comb of combustivel" [ngValue]="comb">
                {{ comb.nome }}
              </option>
            </select>
          </div>

          <div class="CarroceriaCores divGeral">
            <select
              class="form-select campoSelect larguraCampos"
              formControlName="cores"
            >
              <option value="null" disabled selected>
                Selecione a cor do veículo
              </option>
              <option *ngFor="let cor of cores" [ngValue]="cor">
                {{ cor.nome }}
              </option>
            </select>

            <select
              class="form-select larguraCampos margimCampos"
              formControlName="carroceria"
            >
              <option value="null" disabled selected>
                Selecione o tipo da carroceria do seu veículo
              </option>
              <option *ngFor="let carr of carroceria" [ngValue]="carr">
                {{ carr.nome }}
              </option>
            </select>
          </div>
        </tab>

        <tab heading="Detahes do veículo" customClass="customClass">
          <app-listar-kit></app-listar-kit>
        </tab>
      </tabset>

      <div class="botaoDIV">
        <button class="botao" type="submit" >Cadastrar</button>
      </div>
    </form>
  </div>
</div>
