<div class="conteudo">
  <div class="container">
    <form [formGroup]="formulario" class="form" (ngSubmit)="cadastrarCarro()">
      <label class="titulo">Cadastro do veículo</label>

      <tabset>
        <tab heading="Veículo" customClass="customClass">
          <div class="divGeral">
            <app-input-select
              class="selectCor"
              label="Selecione a marca do veículo"
              [formGroup]="formulario"
              ControlName="marca"
              [Objeto]="marca"
              (modelo)="filtrarModelo($event)"
            ></app-input-select>

            <ng-container *ngIf="formulario.controls.marca.touched">
              <span *ngIf="formulario.controls.marca.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
            </ng-container>

            <app-input-select
              class="selectCor"
              label="Selecione o modelo do veículo"
              [formGroup]="formulario"
              ControlName="modelo"
              [Objeto]="modelo"
            ></app-input-select>

            <ng-container *ngIf="formulario.controls.modelo.touched">
              <span *ngIf="formulario.controls.modelo.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
            </ng-container>
          </div>

          <div class="quilometragemValor divGeral">
            <app-input-number
              class="selectCor"
              [formGroup]="formulario"
              ControlName="quilometragem"
              label="Digite a quilometragem do veículo"
              min="0"
              step="1000"
              prefixo="KM"
            ></app-input-number>
            <ng-container *ngIf="formulario.controls.quilometragem.touched">
              <span *ngIf="formulario.controls.quilometragem.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
              <span *ngIf="formulario.controls.quilometragem.errors?.min">
                <div class="alert alert-danger" role="alert">
                  Quilometragem deve ser de no mínimo 0.
                </div>
              </span>
              <span *ngIf="formulario.controls.quilometragem.errors?.max">
                <div class="alert alert-danger" role="alert">
                  Quilometragem deve ser de no maximo 999999.
                </div>
              </span>
            </ng-container>

            <app-input-number
              class="selectCor"
              [formGroup]="formulario"
              ControlName="valor"
              label="Digite o valor desejado pelo veículo"
              min="5000"
              step="1000"
              prefixo="R$"
            ></app-input-number>

            <ng-container *ngIf="formulario.controls.valor.touched">
              <span *ngIf="formulario.controls.valor.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
              <span *ngIf="formulario.controls.valor.errors?.min">
                <div class="alert alert-danger" role="alert">
                  Valor deve ser de no mínimo 5000.
                </div>
              </span>
            </ng-container>
          </div>

          <div class="motorPlaca divGeral">
            <app-input-text
              class="selectCor"
              label="Digite a descrição de seu motor"
              ControlName="motor"
              [formGroup]="formulario"
            ></app-input-text>

            <ng-container *ngIf="formulario.controls.motor.touched">
              <span *ngIf="formulario.controls.motor.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
              <span *ngIf="formulario.controls.motor.errors?.maxlength">
                <div class="alert alert-danger" role="alert">
                  A descrição do motor tem o máximo de 100 caracteres.
                </div>
              </span>
            </ng-container>

            <app-input-text
              class="selectCor"
              label="Digite a sua placa"
              ControlName="placa"
              [formGroup]="formulario"
            ></app-input-text>

            <ng-container *ngIf="formulario.controls.placa.touched">
              <span *ngIf="formulario.controls.placa.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
              <span *ngIf="formulario.controls.placa.errors?.minlength">
                <div class="alert alert-danger" role="alert">
                  Placa invalida.
                </div>
              </span>
              <span *ngIf="formulario.controls.placa.errors?.maxlength">
                <div class="alert alert-danger" role="alert">
                  Placa invalida.
                </div>
              </span>
            </ng-container>
          </div>

          <div class="anoFabricaCombustivel divGeral">
            <app-input-number
              class="selectCor"
              [formGroup]="formulario"
              ControlName="anoFabricacao"
              label="Digite o ano da fabricação do veículo"
              min="1961"
              step="1"
            ></app-input-number>

            <ng-container *ngIf="formulario.controls.anoFabricacao.touched">
              <span *ngIf="formulario.controls.anoFabricacao.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
              <span *ngIf="formulario.controls.anoFabricacao.errors?.min">
                <div class="alert alert-danger" role="alert">
                  Ano mínimo de 1961.
                </div>
              </span>
              <span *ngIf="formulario.controls.anoFabricacao.errors?.max">
                <div class="alert alert-danger" role="alert">
                  Ano máximo de 2022.
                </div>
              </span>
            </ng-container>

            <app-input-select
              class="selectCor"
              label="Selecione seu combustível"
              [formGroup]="formulario"
              ControlName="combustivel"
              [Objeto]="combustivel"
            ></app-input-select>

            <ng-container *ngIf="formulario.controls.combustivel.touched">
              <span *ngIf="formulario.controls.combustivel.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
            </ng-container>
          </div>

          <div class="CarroceriaCores divGeral">
            <app-input-select
              class="selectCor"
              label="Selecione a cor do seu veículo"
              [formGroup]="formulario"
              ControlName="cores"
              [Objeto]="cores"
            ></app-input-select>

            <ng-container *ngIf="formulario.controls.cores.touched">
              <span *ngIf="formulario.controls.cores.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
            </ng-container>

            <app-input-select
              class="selectCor"
              label="Selecione a carroceria do seu veículo"
              [formGroup]="formulario"
              ControlName="carroceria"
              [Objeto]="carroceria"
            ></app-input-select>
            <ng-container *ngIf="formulario.controls.carroceria.touched">
              <span *ngIf="formulario.controls.carroceria.errors?.required">
                <div class="alert alert-danger" role="alert">
                  Campo Obrigatório
                </div>
              </span>
            </ng-container>
          </div>
        </tab>

        <tab heading="Detahes do veículo" customClass="customClass">
          <app-listar-kit></app-listar-kit>
        </tab>
      </tabset>

      <div class="botaoDIV">
        <button class="botao btn" type="submit" [disabled]="!formulario.valid">
          Cadastrar
        </button>
        <button type="button" (click)="abc()">abc</button>
      </div>
    </form>
  </div>
</div>
