<div class="conteudo">
  <div class="container">
    <form [formGroup]="formulario" class="form" (ngSubmit)="salvarUsuario()">
      
        <label class="titulo">Cadastro de usuário</label>
      
      <app-input-text label="Nome" ControlName="nome" [formGroup]="formulario"></app-input-text>

      <app-input-text label="CPF" ControlName="cpf" [formGroup]="formulario"></app-input-text>

      <app-e-mail [formGroup]="formulario" email="email" ></app-e-mail>

      <app-date-picker [formGroup]="formulario" ControlName="dtNascimento" placeholder="Data de Nascimento"></app-date-picker>

      <button class="btn botao">Cadastrar</button>
    </form>
  </div>
</div>
