.conteudo{
    background-color: #bcbcbc;
    background-color: #282828;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.titulo{
    display: block;    
    text-align: center;  
    color: #DAA520;
    text-shadow: #282828 1px 1px; 
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.form{
    padding: 15px;
    width: 700px;
    border: solid 1px #DAA520;
    background-color: #bcbcbc;
    color: #DAA520;
}
.botao{
    background-color: #282828;
    border: #DAA520 2px solid;
    color: #DAA520;
}