<div class="container">

    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened class="side">
            <div class="titulo">
                Filtro
            </div>
            <div class="marcas">
                <ul>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/fiat.jpg" alt="FIAT">
                    </li>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/chevrolet.jfif" alt="FIAT">
                    </li>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/chevrolet.jfif" alt="FIAT">
                    </li>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/chevrolet.jfif" alt="FIAT">
                    </li>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/chevrolet.jfif" alt="FIAT">
                    </li>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/chevrolet.jfif" alt="FIAT">
                    </li>
                    <li>
                        <img class="lista" src="../../assets/images/marcas/chevrolet.jfif" alt="FIAT">
                    </li>
                </ul>
            </div>
        </mat-drawer>
        <mat-drawer-content>Main content</mat-drawer-content>
      </mat-drawer-container>

</div>
