<div class="conteudo">
  <div class="container">
    <form [formGroup]="formulario" class="form" (ngSubmit)="salvarUsuario()">
      <label class="titulo">Cadastro de usuário</label>

      <div class="linha">
        <app-input-text
          class=""
          label="Nome"
          ControlName="nome"
          [formGroup]="formulario"
        ></app-input-text>
      </div>

      <div class="linha">
        <app-input-text
          label="CPF"
          ControlName="cpf"
          [formGroup]="formulario"
        ></app-input-text>
      </div>

      <div class="linha">
        <app-e-mail [formGroup]="formulario" email="email"></app-e-mail>
      </div>

      <div class="linha">
        <app-date-picker
          [formGroup]="formulario"
          ControlName="dtNascimento"
          placeholder="Data de Nascimento"
        ></app-date-picker>
      </div>
      <div class="botaoDIV">
        <button class="btn botao">Cadastrar</button>
        <span>Já possuí login? <a [routerLink]="['/login']" > Logar.</a></span>
      </div>
      
    </form>
  </div>
</div>
