.conteudo {
  background-image: url("../../../assets/images/home2.jfif");
  background-position: 100%;
  height:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: center;
}

.titulo {
  display: block;
  text-align: center;
  color: #daa520;
  text-shadow: #282828 1px 1px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.form {
  padding: 15px;
  width: 700px;
  border: solid 1px #daa520;
  background-color: #bcbcbc;
  color: #daa520;
}
.botaoDIV {
  display: block;
  text-align: center;
}
.botao {
  text-align: center;
  background-color: #daa520;
  height: 60px;
  width: 100%;
  font-size: 20px;
  border: #282828 2px solid;
  color: #282828;
}
.botao:hover {
  background-color: orange;
  border: #282828 2px solid;
  color: #282828;
}
.linha {
  margin-top: 10px;
  margin-bottom: 20px;
}
.span {
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: #282828 1px 1px;
}
