<div class="row">
    <div>
        <div class="col-xs-12 col-12 text">
          <pagination class="teste" 
            [directionLinks]="false"
            [totalItems]="totalItems"            
            [(ngModel)]="currentPage"
            (numPages)="smallnumPages = $event">
          </pagination>
        </div>
      </div>
       
      <div class="row">
        <div class="col-xs-12 col-12 teste2">
          <pager
            [totalItems]="totalItems"
            [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)"
            pageBtnClass="btn"
            [itemsPerPage]="itemsPerPage"
            class="pull-left">
          </pager>
        </div>
      </div>
</div>
