<div class="container">
  <carousel [pauseOnFocus]="true">
    <slide *ngFor="let img of imagens">
      <img class="imagemCarousel" [src]="img.url" />
    </slide>
    <div *ngIf="imagens.length == 0">
      <div class="label">
        <label class="labelAltura"
          >Selecione as fotos para o veículo

          <app-upload-arquivos class="entrada"> </app-upload-arquivos>
        </label>
      </div>
      <img class="semImagem" [src]="imgdefault" />
    </div>
  </carousel>

  <div class="valor">
    <div class="divValor">
      <label class="labelValor">{{ carroMarca }} {{ carroModelo }}</label>
    </div>

    <div class="divValor">
      <label class="labelValor"
        >Valor {{ carro.valor | currency: "R$ " }}</label
      >
    </div>
    <div *ngIf="!igual" class="divBotao">
      <button class="btn botao">Comprar</button>
    </div>


    <button class="btn btnMenu"
      *ngIf="igual"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="menuBotao"  mat-menu-item >
        <mat-icon class="iconeMenu">done_outline</mat-icon>
        <span>Marca veículo como vendido</span>
      </button>
      <button class="menuBotao" mat-menu-item>
        <mat-icon class="iconeMenu">edit</mat-icon>
        <span>Editar veículo</span>
      </button>
    </mat-menu>

  
  </div>
</div>

<div class="detalhes">
  <app-detalhes></app-detalhes>
</div>
