.navmenu {
  background-color: #282828;
}
.navLetra {
  color: #daa520;
}
.navImagem {
  height: 80px;
  width: 60;
}
.listaNav li {
  margin-left: 100px;
}

.login{  
  float: right;
  margin-right: 15px;
  background-color:#444444;
}
.menu{
  text-align: center;
  font-size: 20px;
  background-color: #444444;
}