<div >
  <form [formGroup]="formCheck" class="formCheck">
    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="arCondicionado"       
      />
      <label class="form-check-label" for="inlineCheckbox1"
        >Ar Condicionado</label
      >
    </div>

    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="automatico"
      />
      <label class="form-check-label" for="inlineCheckbox2">Automático</label>
    </div>

    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="direcaoHidraulica"
      />
      <label class="form-check-label" for="inlineCheckbox2"
        >Direção Hidráulica</label
      >
    </div>

    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="freioABS"
      />
      <label class="form-check-label" for="inlineCheckbox2">Freio ABS</label>
    </div>

    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="rodaLigaLeve"
      />
      <label class="form-check-label" for="inlineCheckbox2"
        >Roda Liga Leve</label
      >
    </div>

    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="bancoCouro"
      />
      <label class="form-check-label" for="inlineCheckbox2"
        >Banco de Couro</label
      >
    </div>

    <div class="form-check form-check-inline formEspaco">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="quatroPortas"       
      />
      <label class="form-check-label">4 Portas</label>
    </div>
  </form>
</div>
