.modal-content{
    background-color: #282828;
    color: #DAA520;
    border: #DAA520 1px solid;
}
.btn-close{
    color: #DAA520;
    background-color: #DAA520;
}
.modal-header{
    border: #DAA520 1px solid;
}
.modal-body{
    border: #DAA520 1px solid;
}
.modal-footer{
    border: #DAA520 1px solid;    
    display: flex;
    justify-content: center;
}
