.fundo{
    background-image: url("../../assets/images/home.jpg");
    background-position: 100%;
    height: auto;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    
 }
 .imagem{
     height: 200px;
     padding: 5px;
 }

 .cards{
     padding-top: 15%;
 }


 .cardTamanho{
     height: 500px;
     width: 2000px;

 }
 .separaCard{
     margin-right: 100px;
     border-width: 0;
 }

 .listaImagem{
  width: 8.5rem;
  height: 6.5rem ;

 }
.float{
  float: left;
}

 .child{
   display: inline-block;
   flex-grow: 1;
   height: auto;
   width: calc(100% * (3/20) - 10px - 1px);
 }
 .lista{
     padding-top: 100px;
     height: 100%;
 }
 .check{
     display: none;
 }
 .tituloCard{
     font-size: 30px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     color: #DAA520;
 }
 .botaoCheck{
     border-width: 0;
 }
 .botaoCheck:hover{
     border-color: #DAA520;
     border-width: 2px;
 }
 .buttonCard{
     height: 100%;
     width: 100%;
     padding: 0;
     border-width: 0;
 }

 .buttonCard:hover .cardImagem{
     opacity: 0.8;
     border-color: #DAA520;
     border-style: solid;
     border-width: 3px;
 }
 .buttonCard:hover .legendaImagem{
     opacity: 1;
 }

 .cardImagem{
     height: 100%;
     width: 100%;

 }

 .legendaImagem{
     position: absolute;
     top: 200px;
     left: 85px;
     z-index: 1;
     opacity: 0;
     position: flex;
     font-size: 50px;
     color: #DAA520;
 }

 .cardMarcas{
     margin-left: 10px;
     border-width: 2px;
     margin-right: 10px;
     border-width: 1;
 }

#card{
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/images/comprar.jpg");
    background-position: 100%;
    height: 250px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;   
    border: 0px; 
}

#card h5{
    margin-top: 60px;
    text-shadow: #282828 1px 1px; 
    font-size: 50px;
    color: white;
    opacity: 0.0;
}
#card2 h5{
    margin-top: 60px;
    text-shadow: #282828 1px 1px; 
    font-size: 50px;
    color: white;
    opacity: 0.0;
}

#card:hover{
    border: 2px solid #DAA520;
}

#card:hover h5{    
    opacity: 1.0;
}

#card2:hover{
    border: 2px solid #DAA520;
}

#card2:hover h5{    
    opacity: 1.0;
}

 #card2{
    margin-top: 20px;
    background-image: url("../../assets/images/vendajpg.png");
    border: 0px; 
    background-position: 100%;
    height: 250px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
} 
