<div class="fundo">
  <div class="container">
    <div class="card-group cards">
      <div class="card separaCard cardCor">
        <img [routerLink]="['/compras']"
          class="card-img-top cardImagemCompra btn"
          src="../../assets/images/comprar.jpg"
          alt="Card image cap"
        />
      </div>

      <div class="card cardCor">
        <img [routerLink]="['/vendas']"
          class="card-img-top cardImagemVenda btn"
          src="../../assets/images/vendajpg.png"
          alt="Card image cap"
        />
      </div>
    </div>
  </div>
</div>
