<div class="fundo">
  <div class="container lista">
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title tituloCard">Pesquise por uma marca</h2>

        <div class="form-check child" *ngFor="let mac of marca">
          <input class="form-check-input check" type="radio" />
          <label class="form-check-label">
            <button class="botaoCheck">
              <img class="listaImagem" src="{{ mac.url }}" />
            </button>
          </label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card-group cards">
        <div class="card separaCard cardCor">
          
            <img
              [routerLink]="['/compras']"
              class="card-img-top cardImagemCompra"
              src="../../assets/images/comprar.jpg"
            />
          
        </div>

        <div class="card cardCor">
          
            <img
              [routerLink]="['/vendas']"
              class="card-img-top cardImagemVenda"
              src="../../assets/images/vendajpg.png"
            />
          
        </div>
      </div>
    </div>
  </div>
</div>
