.card{
    border-style: solid;
    border-color: #DAA520;
}
.row{
    display: inline-block;
    flex-grow: 1;
    height: auto;
    width: calc(100% * (5/10) - 10px - 1px);
}
label{
    margin-top: 5px;
    color: #DAA520;
    font-size: 20px;
    text-align: center;
}

.labelCard{
    color: #DAA520;
    font-size: 20px;
    text-align: center;
}