<tabset>
    <tab heading="Caracteristicas">
        <div class="card-group bloco"> 

            <div class="row">
                <div class="card">
                    <label>Ano</label>
                    <div class="card-body">{{carro.anoFabricacao}}</div>
                  </div>
        
                  <div class="card">
                    <label>KM</label>
                    <div class="card-body">{{carro.quilometragem}}</div>
                  </div>    
            </div>

            <div class="row">
                <div class="card">
                    <label>Cor</label>
                    <div class="card-body">cor</div>
                  </div>
        
                  <div class="card">
                    <label>Combustivel</label>
                    <div class="card-body">{{id}}</div>
                  </div>
            </div>

            
              

        </div>

    </tab>

    <tab heading="Detalhes do veiculo">
        <div class="card-group"> 
            <div class="card">
                <label>Freio ABS</label>
                <div class="card-body">{{kit.freioABS}}</div>
            </div>

            <div class="card">
                <label>Roda Liga Leva</label>
                <div class="card-body">{{kit.rodaLigaLeve}}</div>
            </div>

            <div class="card">
                <label>Automático</label>
                <div class="card-body">{{kit.automatico}}</div>
            </div>

            <div class="card">
                <label>Direção Hidráulica</label>
                <div class="card-body">{{kit.direcaoHidraulica}}</div>
            </div>

            <div class="card">
                <label>Ar Condicionado</label>
                <div class="card-body">{{kit.arCondicionado}}</div>
            </div>
        </div>
      
    </tab>
  </tabset>




