<div class="conteudo">
  <div class="container">
    <form class="form">
      <app-e-mail [formGroup]="cadastro" email="login"></app-e-mail>
      <app-input-password [formGroup]="cadastro" ControlName="password"></app-input-password>

      <button class="btn botao">Entrar</button>
      
      <div class="botaoDIV">
        <span
          >Não é cadastrado?
          <a [routerLink]="['/cadastro']"> Cadastre-se.</a></span
        >
      </div>
    </form>
  </div>
  <button (click)="cliquei()" type="button">ABC</button>
</div>
